<%- include('templates/header') %>

<h1 class="mb-4">Admin</h1>

<table class="table table-bordered table-hover">
  <thead class="table-dark">
    <tr>
      <th>Username</th>
      <th>Email</th>
      <th>User Type</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% users.forEach(user => { %>
      <%- include('templates/user', { user, session }) %>
    <% }); %>
  </tbody>
</table>

<a href="/" class="btn btn-danger mt-4">Back to Home</a>

<%- include('templates/footer') %>
